body{ background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
html {
  scroll-padding-top: 150px; /* height of your sticky navbar */
}
    #nav{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border: 1px solid black;
    width: 100%;
    margin: 0px;
    padding-bottom: 40px;
    padding-right: 2rem;
    position: sticky;
    top: 0;
    z-index: 999;

}
#tm{
  display: none;
}
.hamburger{
  display: none;
}
.hamburger div{
   width: 100%;
    height: 4px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}
#ul{
    list-style: none;
    gap: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
   
}
@media (max-width: 768px) {
  #ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  #nav {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  #s {
    margin: 10px;
  }
}

#s{
    border: 0px solid black;
    margin: 50px;
    position: relative;
    transition:all 0.3s linear ;
    cursor: pointer;
}
#button{
    position: relative;
    transition:all 0.3s linear ;
    cursor: pointer;
}
#button:hover{
    transform: scale(1.05);
    background-color:rgba(45, 145, 145, 0.3);
}
#s:hover{
    transform: scale(1.05);
    background-color:rgba(45, 145, 145, 0.3);
}
#home{
    border: 2px solid black;
    padding: 10px;
    position: relative;
    transition:all 0.3s linear ;
    cursor: pointer;

    
}
#home:hover{
    transform: scale(1.2);
    background-color:rgba(45, 145, 145, 0.3);
}
#rec{
    border: 2px solid black;
    padding: 10px;
    position: relative;
    transition:all 0.3s linear ;
    cursor: pointer;
}
#rec:hover{
    transform: scale(1.2);
    background-color:rgba(45, 145, 145, 0.3);
}
#about{
    border: 2px solid black;
    padding: 10px;
    position: relative;
    transition:all 0.3s linear ;
    cursor: pointer;
}
#about:hover{
    transform: scale(1.2);
    background-color:rgba(45, 145, 145, 0.3);
}
#contact{
    border: 2px solid black;
    padding: 10px;
    position: relative;
    transition:all 0.3s linear ;
    cursor: pointer;
}
#contact:hover{
    transform: scale(1.2);
    background-color:rgba(45, 145, 145, 0.3);
}
#login{
    border: 2px solid black;
    padding: 10px;
    position: relative;
    transition:all 0.3s linear ;
    cursor: pointer;
}
#login:hover{
    transform: scale(1.2);
    background-color:rgba(45, 145, 145, 0.3);
}
#sign{
    border: 2px solid black;
    padding: 10px;
    position: relative;
    transition:all 0.3s linear ;
    cursor: pointer;
}
#sign:hover{
    transform: scale(1.2);
    background-color:rgba(45, 145, 145, 0.3);
}
.main{
    border: 1px solid black;
    background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
footer{
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
    height: 10vh;
    text-align: center;
    font-size: 20px;
 order: 400;
}
.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2rem;

}
#item1{
    width: 50%;
}
#gj{
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
}
#img_item1{
    width: 50%;
    
}
#contents{
    padding-left: 2rem;
    background: #d0ace6;
background: linear-gradient(90deg, rgba(208, 172, 230, 1) 0%, rgba(194, 190, 190, 1) 50%, rgba(245, 105, 105, 1) 100%);
}
#gj1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2rem;
}
@media (max-width: 768px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
  #item1, #gj1 {
    width: 90%;
  }
  iframe {
    width: 100%;
    height: auto;
  }

}
.main1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2rem;

}
.main1{
    border: 1px solid black;
    background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

#item2{
    width: 50%;
}
#kk{
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
}
#img_item2{
    width: 50%;
    
}
#kk1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2rem;
}
@media (max-width: 768px) {
  .main1 {
    flex-direction: column;
    align-items: center;
  }
  #item2, #kk1 {
    width: 90%;
  }
  iframe {
    width: 100%;
    height: auto;
  }
  #ul{
    display: none;
  }
    .hamburger {
    display: block;
    width: 35px;       
    height: 25px;      
    cursor: pointer;
  }
  #tm{
    display: none;
  }
  #tm:checked ~ #ul{
    display: flex;
  }
  #s{
    margin: 0;
    padding-bottom: 10px;
  }
#nav{
    position: sticky;
    z-index: 999;
    top: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-left: 20px;
  }

}

.main2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2rem;

}
.main2{
    border: 1px solid black;
    background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

#item3{
    width: 50%;
}
#mt{
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
}
#img_item3{
    width: 50%;

   
    
}
#mt1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2rem;
}
@media (max-width: 768px) {
  .main2 {
    flex-direction: column;
    align-items: center;
  }
  #item3, #mt1 {
    width: 90%;
  }
  iframe {
    width: 100%;
    height: auto;
  }
  html{
    scroll-padding-top: 180px;
  }
}
#gji{
    transition: all 0.5s linear 0s;
}
#gji:hover
{ transform: scale(1.1);}
#kki{
    transition: all 0.5s linear 0s;
}
#kki:hover
{ transform: scale(1.1);}
#mti{
    transition: all 0.5s linear 0s;
}
#mti:hover
{ transform: scale(1.1);} 

